%table
  %tr
    %th
    %th Name
    %th Price
    %th Desc
    -@products.each do |product|
      %tr
        %td= image_tag(product.image.thumb.url)
        %td= product.name
        %td= number_to_currency(product.cost)
        %td= product.description
